/* GOLDEN ERA SECTION */
.bd-golden-era-section {
  position: relative;
  padding-top: 40px; /* Space for navbar */
  padding-bottom: 80px;
}
.bd-golden-era-bg {
  background: url("../images/Goldenera.png") center/cover no-repeat fixed;
  background-size: cover;
  z-index: 1;
}
.bd-golden-era-section .container {
  position: relative;
  z-index: 2;
}

/* Title Inside Card */
.bd-golden-era-title {
  font-size: 4rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

/* Golden Era Card */
.bd-golden-era-card {
  transition: all 0.3s ease;
  padding: 40px;
  border-left: 6px solid #24c1dd;
  background: white;
  border-radius: 20px;
  text-align: justify;
}
.bd-golden-era-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

/* Quote */
.bd-golden-era-quote {
  font-size: 1.2rem;
  color: #555;
  border-left: 4px solid #24c1dd;
}

/* Responsive */
@media(max-width:768px){
.bd-golden-era-card{
  padding: 20px !important;
}
.bd-golden-era-title {
  font-size: 3rem;
}
.bd-golden-era-quote {
  font-size: 1rem;
}
}